{% extends 'base.html' %} {% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    .button {
      border: none;
      color: white;
      padding: 7px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 1px 1px;
      cursor: pointer;
      border-radius: 12px;
    }

    .delete-button {
      background-color: #b3270f;
    }
    .update-button {
      background-color: #543479;
    }
    .button :hover {
      text-decoration: none;
      font-size: 17px;
    }
    .container :hover {
      background: rgb(61, 61, 61);
      border-radius: 16px;
    }
  </style>
</head>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{username}}'s To-do List</span>
    <div class="rounded-4">
      <div class="text-center">
        <a
          href=""
          class="button btn btn-primary btn-rounded"
          data-toggle="modal"
          data-target="#orangeModalSubscription"
          >Add Task</a
        >
        <button
          type="button"
          class="button button4 create_task"
          style="background-color: #543479"
        >
          <a href="{% url 'todolist:create_task' %}" class="text-white"
            >Create Task</a
          >
        </button>
        <button
          type="button"
          class="button button4"
          style="background-color: #b3270f"
        >
          <a href="{% url 'todolist:logout_user' %}" class="text-white"
            >Logout</a
          >
        </button>
      </div>
    </div>
  </div>
</nav>

<p class="text-center fs-6 m-5" style="font-weight: bold; font-size: larger">
  Hi {{username}}, have a nice day!
</p>

<div id="card" class="w-50" style="height: fit-content"></div>

<div
  class="modal fade"
  id="orangeModalSubscription"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div
        class="modal-header text-center"
        style="background-color: rgb(111, 111, 197)"
      >
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Subscribe
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        {% csrf_token %}
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form3"
            >Task</label
          >
          <input type="text" class="form-control validate" id="task" />
        </div>

        <div class="md-form">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form2"
            >Description</label
          >
          <input type="email" id="desc" class="form-control validate" />
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a
          type="button"
          id="add-task"
          class="btn btn-outline-primary waves-effect add"
          >Add Task<i class="fas fa-paper-plane-o ml-1"></i
        ></a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- ajax script -->
<script>
  async function getTodolist() {
    return fetch("{% url 'todolist:show_json' %}").then((res) => res.json());
  }
  async function display_todolist() {
    document.getElementById("card").innerHTML = "";
    const todolist = await getTodolist();
    let htmlString = "";
    todolist.forEach((value) => {
      htmlString += `
            <div class="container card card-body m-3" style="background-color: #2b2b2b; border-radius: 16px; ">
                <h5 class="card-title text-white"> ${value.fields.title} </h5>
                <p class="text-white" style="font-size: 17px">${value.fields.description}</p>
                <p class="text-white" style="font-size: 12px">${value.fields.date}</p>`;

      if (value.fields.is_finished) {
        htmlString += `<p style="color: #7e5cdd; font-weight: bold;">Selesai</p>`;
      } else {
        htmlString += `<p style="color: #dd352f; font-weight: bold;" >Belum Selesai</p>`;
      }

      htmlString += `
        <button type="button" class="button update-button" ><a href="change-status/${value.pk}" class="text-white">Update Task</a></button>
        <button type="button" class="button delete-button" ><a href="delete-task/${value.pk}" class="text-white">Delete Task</a></button>
      </div>`;
    });
    document.getElementById("card").innerHTML = htmlString;
  }

  async function addTask() {
    let task = $("#task").val();
    let deskripsi = $("#desc").val();
    console.log(task);
    let csrf_token = $("input[name='csrfmiddlewaretoken']").val();

    fetch("{% url 'todolist:add_task_ajax' %}", {
      method: "POST",
      body: {
        title: task,
        description: deskripsi,
        csrfmiddlewaretoken: csrf_token,
      },
    })
      .then(display_todolist)
      .then($(".modal").modal("hide"));
    return false;
  }
  document.getElementById("add-task").onclick = addTask;
  display_todolist();
</script>

{% endblock content %}
