{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h3>My Watch List</h3>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>2106751562</p>

  <table border="1">
    <tr>
      <th>Title</th>
      <th>Rating</th>      
      <th>Release Date</th>
      <th>Review</th>
      <th>Watched</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movie in list_movie %}
    <tr>
        <th>{{movie.title}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.review}}</th>
        {% if movie.watched %}
        <th>Sudah menonton</th>
        {% else %}
        <th>Belum ditonton</th>
        {%endif%}

        
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
